**EDITING TEXT, CHANGING DATA TYPE, ADDING UNITS**

In [9]:
import pandas as pd

data = r'C:\Users\izama\Desktop\immo_scraper_merged.csv'
data_scraped = pd.read_csv(data, sep = ',')

#Replace 'True' and 'False' value on binary values
columns_for_change_01 = ['Equipped_kitchen', 'Furnished', 'Open_fire', 'Swimming_Pool'] #Columns for change
data_scraped[columns_for_change_01] = data_scraped[columns_for_change_01].replace({False:0, True:1})

#Add m² for area columns 
columns_for_change_m2 = ['Living_area', 'Terrace', 'Garden'] #Columns for change

for col in columns_for_change_m2:
    data_scraped[col] = pd.to_numeric(data_scraped[col], errors='coerce').fillna(0).astype('Int64') #Change string value to an integer 

for col in columns_for_change_m2:
    data_scraped[col] = data_scraped[col].apply(lambda x: f"{x} m²" if pd.notna(x) and x != 0 else x) #Add m² to the area values

#Replace "0" with "Null"
columns_for_change_null = ['Terrace', 'Garden']
data_scraped[columns_for_change_null] = data_scraped[columns_for_change_null].replace({0: 'null'})

#Edit text in the locality column
data_scraped['locality_name'] = data_scraped['locality_name'].str.title()

#Edit text in the type of sale column
data_scraped['Type_of_sale'] = data_scraped['Type_of_sale'].str.replace('_', ' ').str.capitalize()

#Edit the number of facades
data_scraped['Number_of_facades'] = pd.to_numeric(data_scraped['Number_of_facades'], errors='coerce').fillna(0).astype('Int64')

#Edit the price column
data_scraped['Price'] = data_scraped['Price'].fillna(0).astype(int)

#Edit text in the state of building column
data_scraped['State_of_building'] = data_scraped['State_of_building'].str.replace('_', ' ').str.capitalize()

#Edit text in SUB(?)type of property column
data_scraped['Type_of_property'] = data_scraped['Type_of_property'].str.replace('_', ' ').str.capitalize()

data_scraped[500:520]

C:\Users\izama\AppData\Local\Temp\ipykernel_13048\3133693185.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_scraped[columns_for_change_01] = data_scraped[columns_for_change_01].replace({False:0, True:1})

,id,locality_name,Postal_code,Price,Type_of_property,Number_of_rooms,Living_area,Type_of_sale,Equipped_kitchen,Furnished,Open_fire,Terrace,Garden,Number_of_facades,Swimming_Pool,State_of_building
500,20228408,Wetteren,9230,375000,House,NaN,136 m²,For sale,1,0,0,15 m²,null,0,1,Just renovated
501,20227034,Oudenaarde,9700,395000,Mixed use building,21.0,442 m²,For sale,0,0,0,null,null,0,1,Good
502,20228281,Rixensart,1330,430000,Villa,NaN,158 m²,For sale,0,0,0,null,450 m²,4,0,To renovate
503,20229526,Antwerpen,2018,519000,House,NaN,134 m²,For sale,1,0,0,11 m²,null,2,1,Good
504,20227707,Edegem,2650,550000,Villa,NaN,200 m²,For sale,1,0,0,null,1450 m²,4,1,To be done up
505,20227653,Seneffe Feluy,7181,648000,Exceptional property,NaN,210 m²,For sale,1,0,0,null,null,4,0,To be done up
506,20227335,Kraainem,1950,685000,House,NaN,230 m²,For sale,0,0,0,50 m²,2900 m²,4,0,To be done up
507,20226658,Oudenaarde,9700,790000,Mixed use building,21.0,442 m²,For sale,0,0,0,null,null,0,1,Good
508,20242209,Mechelen,2800,0,House group,NaN,0,For sale,0,0,0,null,null,0,1,NaN
509,20243309,Vlierzele,9520,285000,House,NaN,111 m²,For sale,1,0,0,null,null,3,1,Good
510,20242780,Gits,8830,399000,House,11.0,198 m²,For sale,1,0,0,null,null,0,1,Good
511,20242673,Herent Veltem-Beisem,3020,450000,House,NaN,160 m²,For sale,0,0,0,null,null,4,0,To renovate
512,20243596,Beersel,1650,530000,House,NaN,210 m²,For sale,1,0,0,30 m²,500 m²,4,1,To be done up
513,20243301,Lede,9340,650000,House,NaN,296 m²,For sale,0,0,0,null,null,4,1,To renovate
514,20235672,Woluwe-Saint-Pierre,1150,995000,House,NaN,280 m²,For sale,0,0,1,20 m²,150 m²,3,1,NaN
515,20221783,Deurne,2100,179000,Mixed use building,NaN,89 m²,For sale,0,0,0,3 m²,null,2,1,To be done up
516,20223287,Beauraing Honnay,5570,195000,Country cottage,NaN,139 m²,For sale,0,0,0,null,null,4,1,To renovate
517,20221772,Edegem,2650,385000,House,NaN,154 m²,For sale,1,0,0,null,130 m²,3,0,To be done up
518,20223905,Affligem,1790,439000,House,NaN,168 m²,For sale,0,0,0,null,270 m²,3,0,As new
519,20205405,Herent,3020,455000,House,NaN,190 m²,For sale,1,0,0,20 m²,150 m²,0,1,To be done up

In [22]:
# Checking the values ​​in the 'Type of property' column
data_scraped['Type_of_property'].value_counts()

Type_of_property
House                   6902
Villa                   1046
House group              640
Mixed use building       356
Apartment block          262
Exceptional property     185
Mansion                  175
Town house               113
Country cottage          101
Bungalow                  97
Farmhouse                 47
Chalet                    11
Manor house               11
Castle                     7
Other property             3
Name: count, dtype: int64

**CHECKING ROWS FOR MISSING DATA (NaN) AND FILL OR REMOVE MISSING VALUES**

In [13]:
# Check and display rows where and how much are missing data
print(data_scraped.isnull().sum())

id                      0
locality_name           0
Postal_code             0
Price                   0
Type_of_property        0
Number_of_rooms      6615
Living_area             0
Type_of_sale           16
Equipped_kitchen        0
Furnished               0
Open_fire               0
Terrace                 0
Garden                  0
Number_of_facades       0
Swimming_Pool           0
State_of_building    1501
dtype: int64

In [ ]:
# Remove all lines containing NaN
#data_cleaned = data_scraped.dropna()

#or

# Fill missing values ​​in column 'enter_a_column_name' with average value
#data_scraped['enter_a_column_name'] = data_scraped['enter_a_column_name'].fillna(data_scraped['enter_a_column_name'].mean())

In [15]:
# Check and display rows where State_of_building has missing data
missing_state_of_building = data_scraped[data_scraped['State_of_building'].isnull()]
# Display rows with missing values ​​in the State_of_building column
print(missing_state_of_building)
# Save these lines to a new CSV file
# missing_state_of_building.to_csv('missing_state_of_building.csv', index=False)

            id       locality_name Postal_code   Price Type_of_property  \
1     20243985       Deinze Astene        9800       0      HOUSE_GROUP
7     20242816            Wevelgem        8560       0      HOUSE_GROUP
8     20243152              Gavere        9890       0      HOUSE_GROUP
9     20242879        Lichtervelde        8810       0      HOUSE_GROUP
10    20242880              Aalter        9880       0      HOUSE_GROUP
...        ...                 ...         ...     ...              ...
9939  20140297           Vilvoorde        1800  299000            HOUSE
9942  20207583              Izegem        8870  299000            HOUSE
9947  20186409            Merchtem        1785  349000            HOUSE
9953  20201263          Aartselaar        2630  389000            HOUSE
9955  20171608  Zerkegem (Jabbeke)        8490  405000            HOUSE

      Number_of_rooms Living_area Type_of_sale  Equipped_kitchen  Furnished  \
1                 NaN           0     For sale                 0          0
7                 NaN           0     For sale                 0          0
8                 NaN           0     For sale                 0          0
9                 NaN           0     For sale                 0          0
10                NaN           0     For sale                 0          0
...               ...         ...          ...               ...        ...
9939              NaN      237 m²     For sale                 0          0
9942              1.0      255 m²     For sale                 0          0
9947              NaN      156 m²     For sale                 0          0
9953              NaN      162 m²     For sale                 1          0
9955              NaN      281 m²     For sale                 0          0

      Open_fire Terrace Garden  Number_of_facades  Swimming_Pool  \
1             0    null   null                  0              1
7             0    null   null                  0              1
8             0    null   null                  0              1
9             0    null   null                  0              1
10            0    null   null                  0              1
...         ...     ...    ...                ...            ...
9939          0   18 m²   null                  3              0
9942          0    null   null                  2              1
9947          0    null   null                  4              0
9953          0    null   null                  2              1
9955          0    null   null                  4              0

     State_of_building
1                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
...                ...
9939               NaN
9942               NaN
9947               NaN
9953               NaN
9955               NaN

[1501 rows x 16 columns]

**SEARCHING FOR DUPLICATES BY ID** 

**SAVING DATA TO A CSV FILE WITHOUT DUPLICATES**

In [20]:
# Check which rows are duplicates (indicates True for duplicates)
data_scraped_without_duplicates = data_scraped.drop_duplicates(subset=['id', 'Price'])
duplicates = data_scraped[data_scraped.duplicated()]
print(duplicates)
data_scraped_without_duplicates.to_csv('data_scraper_without_duplicates.csv', index=False)
print("The CSV file without duplicates was saved as 'data_scraper_without_duplicates.csv'.")

          id locality_name Postal_code  Price Type_of_property  \
15  20239506       Ixelles        1050      0      House group
32  20239506       Ixelles        1050      0      House group
33  20239506       Ixelles        1050      0      House group

    Number_of_rooms Living_area Type_of_sale  Equipped_kitchen  Furnished  \
15              NaN           0     For sale                 0          0
32              NaN           0     For sale                 0          0
33              NaN           0     For sale                 0          0

    Open_fire Terrace Garden  Number_of_facades  Swimming_Pool  \
15          0    null   null                  0              1
32          0    null   null                  0              1
33          0    null   null                  0              1

   State_of_building
15               NaN
32               NaN
33               NaN
The CSV file without duplicates was saved as 'data_scraper_without_duplicates.csv'.